h1
{
    text-align: center;
    color: bisque;
    font-style: italic;
    font-size: 100px !important;

}
#txt
{
    text-align: right;
    margin-left: 1200px;
    font-size: 120px;
    color: bisque;

}
img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 400px;
    margin-bottom: 50px;
}
table
{
    margin-left: auto;
    margin-right: auto;
}
#kep{
    height: 600px;
}
body
{
    background-image: url(Coding-Wallpaper-Free-Download.png);
    background-repeat: no-repeat;
    background-size: cover;
}